<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide >
      <img src="assets/img/a.svg" alt="">
      <div>
        <h3>Felicidades Amor<ion-icon slot="icon-only" name="heart-circle-outline"></ion-icon></h3>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/b.svg" alt="">
      <div>
        <h3>Doy gracias por a ver conocido a una chica tan especial como tú</h3>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/c.svg" alt="">
      <div>
        <h3>Te adoro y quiero pasar muchos años contigo<ion-icon slot="icon-only" name="heart-circle-outline">uwu</ion-icon></h3>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="5">
        <div class="corazon">
          <audio src="assets/img/mine.mp3#t=168" autoplay ></audio>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon slot="end" name="heart"></ion-icon>
            Mi corazon late por ti amor, me alegro a ver conocido a una chica tan especial como tu, te adoro, eres la mejor!          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
